<div id="cv" class="text-wrap">
  <h2 class="underlined">Basic info</h2>
  <p class="basic-info"><span>Name</span><span>Antti Sandberg</span></p>
  <p class="basic-info"><span>Born</span><span>1993</span></p>
  <p class="basic-info"><span>Nationality</span><span>Finnish</span></p>
  <p class="basic-info"><span>Email</span><span>antti.sandberg@gmail.com</span></p>
  <h2 class="underlined">Work experience</h2>
  <div *ngFor="let experience of workExperience" class="cv-item">
    <div><img [src]="experience.img" class="cv-image"/></div>
    <div>
      <h3>{{experience.name}}</h3>
      <p>{{experience.time}}</p>
      <p [innerHTML]="experience.desc"></p>
    </div>
  </div>
  <h2 class="underlined">Education</h2>
  <div class="cv-item">
    <div><img src="/img/aalto.png" class="cv-image"/></div>
    <div>
      <h3>Master Program in Game Design and Production</h3>
      <p>Aalto University</p>
      <p>2017 – </p>
      <p>Studies involve many game projects from creating an idea to a finished product. Topics include game design, game development, programming, usability and playability design, machine learning, artificial intelligence, computer graphics, and project management.</p>
    </div>
  </div>
  <div class="cv-item">
    <div><img src="/img/tampereuniversity.png" class="cv-image"/></div>
    <div>
      <h3>Degree Program in Information Studies and Interactive Media</h3>
      <p>University of Tampere</p>
      <p>2013 – 2017</p>
      <p>Studies heavily focused on game research. Interactive media, game studies, Internet, social media, information science. Minor studies: information technology, programming, project management, user interface design, Japanese language.</p>
      <p (click)="tripToJapan()">One year of exchange studies in Daito Bunka University, <strong>Tokyo, Japan</strong>.</p>
    </div>
  </div>
  <div class="cv-item">
    <div><img src="/img/osao.png" class="cv-image"/></div>
    <div>
      <h3>Vocational Qualification in Business Information Technology</h3>
      <p>Oulu Vocational College</p>
      <p>2009 – 2012</p>
      <p>Studies oriented in game programming. Game design and development, web development, databases, 3d modeling, information processing, customer service, business administration, accounting, project management.</p>
      <p (click)="dualWield()">Dual qualification in Oulu High School for Adults.</p>
    </div>
  </div>
  <h2 class="underlined">Technology skills</h2>
  <p><span class="tech-skill" *ngFor="let skill of techSkills" [ngClass]="{'next-skill': nextSkillSecret(skill)}" (click)="skillSecret(skill)">{{skill}} </span></p>

  <h2 class="underlined">Languages</h2>
  <p class="language" *ngFor="let language of languages">
    <span>{{language.language}}</span>
    <span>{{language.level}}</span>
  </p>

  <h2 class="underlined">Other</h2>
  <p>I participated in Taitaja, the National Finnish Skills Competition, in 2011 and 2012, placing the fifth and the second place in the Web Design competition.</p>
</div>
