<div id="site-intro">
  <h2>Welcome to my portfolio!</h2>
  <p>Here is some of my work.</p>
</div>

<!--<div id="profile-circle" style="background-image: url(/img/self.png)"></div>

<h2>Portfolio</h2>-->
<div id="portfolio">
  <div *ngFor="let item of portfolio" class="portfolio-item">

    <div class="portfolio-item-image">
      <a *ngIf="item.routerLink != null" routerLink="{{item.routerLink}}" target="_blank" (click)="portfolioLinkClicked(item)"><img [src]="item.img"></a>
      <a *ngIf="item.link != null" [href]="item.link" target="_blank" (click)="portfolioLinkClicked(item)"><img [src]="item.img"></a>
    </div>
    <div class="description">
      <h2>{{item.name}}</h2>
      <p>{{item.description}}</p>
    </div>
  </div>
</div>
